{% block file_widget%}
    <div class="form-group">
        <label for="{{ id }}" class='col-sm-3 control-label'>{{ label }}</label>
        {{ form_errors(form) }}
        <div class="col-sm-5">
            <input type="file" name="{{ full_name }}" value="{{value}}" id="{{ id}}" class="form-control file">
        </div>
    </div>
{% endblock %}

{% block text_row %}
    <div class="form-group">
        <label for="{{ id }}" class='col-sm-3 control-label'>{{ label }}</label>
        {{ form_errors(form) }}
        <div class="col-sm-5">
            <input type="text" name="{{ full_name }}" value="{{value}}" id="{{ id}}" class="form-control">
        </div>
    </div>
{% endblock %}

{% block choice_row %}
    <div class="form-group">
        <label for="{{ id }}" class='col-sm-3 control-label'>{{ label }}</label>
        {{ form_errors(form) }}
        <div class="col-sm-5">
            {{ form_widget(form,{'attr':{'class':'form-control'}})}}
        </div>
    </div>
{% endblock %}

{% block checkbox_row %}
    <div class="form-group">
        <label for="{{ id }}" class='col-sm-3 control-label'>{{ label }}</label>
        {{ form_errors(form) }}
        <div class="col-sm-5">
            {{ form_widget(form,{'attr':{'class':'form-control'}})}}
        </div>
    </div>
{% endblock %}

{% block date_row %}
    <div class="form-group">
        <label for="{{ id }}" class='col-sm-3 control-label'>{{ label }}</label>
        {{ form_errors(form) }}
        <div class="col-sm-5">
            {{ block('date_widget')}}
        </div>
    </div>
{% endblock %}
