{% block file_row%}
    <div class="form-group">
        <label for="{{ id }}" class='col-sm-3 control-label'>{{ label }}</label>
        <div class="col-sm-5">
            <input type="file" name="{{ full_name }}" value="{{value}}" id="{{ id}}" class="form-control file">
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block text_row %}
    <div class="form-group">
        <label for="{{ id }}" class='col-sm-3 control-label'>{{ label }}</label>
        <div class="col-sm-5">
            <input type="text" name="{{ full_name }}" value="{{value}}" id="{{ id}}" class="form-control">
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock %}
