{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-sm-4">
        {{ form_row(form.name) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.race) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.groupe) }}
    </div>
</div>
{{ form_end(form) }}