<div class="modal" id="{{ battle.slug }}_canceled">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Annulation de la bataille {{ battle.name }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ul class="list-unstyled col-sm-9 col-sm-offset-1">
                        <li>Nom : {{ battle.name }}</li>
                        <li>Prévue le : {{ battle.date | date('d/m/Y') }}</li>
                        <li>chez : {{ battle.lieu }}</li>
                        <li>nb de participants : {% set nbr = 0 %} {% for participant in  battle.participants if participant.presence.id == 3 %}{% set nbr = nbr + 1 %}{% endfor %}{{ nbr }}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                Etes-vous sur de vouloir annuler cette bataille ?
                <div class="group-button pull-rigth">
                    <a class="btn btn-xs btn-default" data-dismiss="modal">NON</a>
                    <a href="{{ path('battle_canceled', {'slug': battle.slug}) }}" class="btn btn-xs btn-danger">OUI</a>
                </div>
            </div>
        </div>
    </div>
</div>