<div class="modal" id="{{ figurine.id }}_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Suppresion de la figurine {{ figurine.figurine.name }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ul class="list-unstyled col-sm-9 col-sm-offset-1">
                        <li>Figurine : {{ figurine.figurine.name }}</li>
                        <li>Groupe : {{ figurine.figurine.groupe.name }}</li>
                        <li>Points : {{ figurine.points }}</li>
                        <li>nb d'équipements : {{ figurine.equipements | length }}</li>
                        <li>nb de photos : {{ figurine.photos | length }}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                Etes-vous sur de vouloir la supprimer ?
                <div class="group-button">
                    <a data-dismiss="modal" class="btn btn-xs btn-default">NON</a>
                    <a href="{{ path('figurine_army_delete', {'id': figurine.id}) }}" class="btn btn-xs btn-danger">OUI</a>
                </div>
            </div>
        </div>
    </div>
</div>