<div class="modal" id="{{ unit.id }}_delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Suppresion de la unit {{ unit.unit.name }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ul class="list-unstyled col-sm-9 col-sm-offset-1">
                        <li>Figurine : {{ unit.unit.name }}</li>
                        <li>Groupe : {{ unit.unit.groupe.name }}</li>
                        <li>Points : {{ unit.points }}</li>
                        <li>nb d'équipements : {{ unit.equipements | length }}</li>
                        <li>nb de photos : {{ unit.photos | length }}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                Etes-vous sur de vouloir la supprimer ?
                <div class="group-button">
                    <a data-dismiss="modal" class="btn btn-xs btn-default">NON</a>
                    <a href="{{ path('unit_army_delete', {'id': unit.id}) }}" class="btn btn-xs btn-danger">OUI</a>
                </div>
            </div>
        </div>
    </div>
</div>