{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
  Créer un résume de bataille
{% endblock %}

{% block body %}
  <div class="well">
    {{ form(form) }}
    <small>
      Pour inserer une image dans le texte, copier l'addresse dans la liste ci-dessous de l'image vous interressant. Puis cliquer sur le bouton image dans l'editeur de texte. <br>
      Dans la fenêtre qui s'ouvre, copier  l'adresse dans le champ URL. <br>
      Si l'image est trop grande ou trop petite adapté la largeur ou la hauteur. <br>
      <i class="glyphicon glyphicon-warning-sign"></i> Ne modifier qu'une seule donnée pour ne pas modifier le ratio de l'image 
    </small>
  </div>
    <a href="{{ path('battle_add_photo',{'id': battle.id}) }}">Ajouter une photo</a>
    <div>
      <ul>
        {% for photo in photos %}
            <li class="row"><img src="{{ asset(photo.webPath)}}" alt="{{ photo.alt }}" class="col-sm-2"><div class="col-sm-10">http://warhantmillebattle.fr{{ asset(photo.webpath) }}</div></li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}
