{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
	Ajouté photo
{% endblock %}

{% block body %}
		<div class="well">
			{{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
			{{ form_errors(form)}}

			<div class="form-group">
				{{ form_label(form.file,'Choisisser une photo',{'label_attr':{'class': 'col-sm-2 control-label'}}) }}
				{{ form_errors(form.file)}}
				<div class="col-sm-10">
					{{ form_widget(form.file,{'attr':{'class':'form-control file'}})}}
				</div>
			</div>
			<div class="text-center">
				{{ form_widget(form.save,{'attr':{'class':'btn btn-default btn-sm'}})}}
			</div>
			{{ form_rest(form)}}
			{{ form_end(form) }}
			<div>
				<a class="btn btn-default btn-xs" href="{{ path('army_view',{'slugArmy': slugArmy})}}"><i class="glyphicon glyphicon-chevron-left"></i>Retour à l'armée</a>
			</div>
		</div>


{% endblock %}
