{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
  Liste des battles
{% endblock %}

{% block body %}
  <div class="jumbotron">
    <div id="futurBattles" class="row" >
      <h2 class="text-center">Les futures Batailles</h2>
      <table class="col-sm-12 table">
        {% for battleFuture in battlesFuture if battlesFuture|length >= 1 %}
            <tr class="row">
              <td class="col-sm-3">
                <a href="{{ path('battle_future_view',{'slugBattle': battleFuture.slugBattle})}}">{{ battleFuture.name }}</a><br>
                <small>
                  du {{ battleFuture.date|date('d/m/Y à H:i')}}<br>
                  chez {{ battleFuture.lieu }}
                </small>
              </td>
              <td class="col-sm-3">
                {% if battleFuture.canceled == true %}
                  Cette bataille a été annulée.
                {% else %}
                  {% set nbParticipants = 0 %}
                  {% for participant in battleFuture.participants if participant.presence.id == 3 %}
                      {{ participant.participant.username}} au commande de l'armée <a href="{{ path('army_view',{'slugArmy': participant.army.slugArmy})}}">{{ participant.army.name}}</a>
                      {% set nbParticipants = nbParticipants + 1 %}
                  {% endfor %}
                  {% if nbParticipants == 0 %}
                    Personne n'a encore préciser se battre.<br>
                    Voulez-vous vous <a href="{{ path('battle_future_view',{'slugBattle': battleFuture.slugBattle})}}">battre</a> ?
                  {% elseif nbParticipants ==1 %}
                    Il n'y a qu'un courageux pret à se battre.<br>
                    Voulez-vous vous <a href="{{ path('battle_future_view',{'slugBattle': battleFuture.slugBattle})}}">battre</a> ?

                  {% endif %}
                {% endif %}
              </td>
              <td class="col-sm-4">
                {% for participant in battleFuture.participants if app.user == participant.participant and battleFuture.canceled == false %}
                    Vous {{ participant.presence.presence }}.
                {% endfor %}
                {% if battleFuture.createur == app.user and battleFuture.canceled == false %}
                  <br/>
                  <a href="{{ path('battle_edit', {'slugBattle': battleFuture.slugBattle}) }}" class="btn btn-default btn-xs">Modifier la battle</a><br>
                  <a href="{{ path('battle_canceled',{'slugBattle': battleFuture.slugBattle})}}" class="btn btn-danger btn-xs">Anulée la bataile</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and battleFuture.canceled == true %}
                  <br/>
                  <a href="{{ path('battle_delete', {'slugBattle': battleFuture.slugBattle})}}" class="btn btn-danger btn-xs">Supprimé la bataille</a>
                {% endif %}
              </td>
            </tr>
        {% endfor %}
        <tr class="row">
          <td class="col-sm-12 text-center" colspan="3">
            {% if battlesFuture|length == 0 %}
                Il n'y a aucunes batailles de prévue pour l'intant.<br/>
            {% endif %}
            <a href="{{ path('battle_create') }}">Proposer</a> une battle.
          </td>
        </tr>

      </table>
    </div>
    <div id="pasxtattles" class="row">
      <h2 class="text-center">Les anciennes Batailles</h2>
      <table class="col-sm-12 table">
        {% for battlePast in battlesPast %}
          <tr class="row">
            <td class="col-sm-5">
              Bataille <a href="{{ path('battle_view',{'slugBattle': battlePast.slugBattle})}}">{{ battlePast.name }}</a> <small>du {{ battlePast.date|date('d/m/Y')}}</small>
            </td>
            <td class="col-sm-5">
            {% for participant in battlePast.participants if participant.presence.id == 3 %}
              {% if loop.first %}  A opposé : <br/>{% endif %}
                {{ participant.participant.username }} général de l'armée <a href="{{ path('army_view',{'slugArmy': participant.army.slugArmy})}}">{{ participant.army.name }}</a><br>
                {% else %}
                  Il n'y a pas de géneral.
              {% endfor %}
            </td>
            <td class="col-sm-2 text-center">

                {% if battlePast.createur == app.user and battlePast.canceled == false %}
                    <br/>
                    <a href="{{ path('battle_edit', {'slugBattle': battlePast.slugBattle}) }}" class="btn btn-default btn-xs">Modifier la battle</a><br>
                    <a href="{{ path('battle_canceled',{'slugBattle': battlePast.slugBattle})}}" class="btn btn-danger btn-xs">Anulée la bataile</a>
                {% endif %}
              {% if is_granted('ROLE_ADMIN') and battlePast.canceled == true %}
                <a href="{{ path('battle_delete', {'slugBattle': battlePast.slugBattle})}}" class="btn btn-danger btn-sm">Supprimé la bataille</a>
              {% endif %}
            </td>
          </tr>

        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
