{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    Liste des battles
{% endblock %}

{% block body %}
    <div class="">
        <div id="futurBattles" class="row">
            <h2 class="text-center">Les Batailles</h2>
            <table class="col-sm-12 table">
                {% for battle in battles %}<tr class="row">
                    <td class="col-sm-3">
                        <a href="{{ path('battle_view',{'slug': battle.slug}) }}">{{ battle.name }}</a><br>
                        <small>
                            du {{ battle.date|date('d/m/Y à H:i') }}<br>
                            chez {{ battle.lieu }}
                        </small>
                    </td>
                    <td class="col-sm-2">
                        Status : {{ battle.canceled ? 'Annulé' :  date(battle.date) > date() ? 'A venir' : 'A eu lieu' }}
                    </td>
                    <td class="col-sm-3">
                        {% if battle.canceled == true %}
                            Cette bataille a été annulée.
                        {% else %}
                            {% include '@App/Participant/status.user.html.twig' with {'battle': battle } %}
                        {% endif %}
                    </td>
                    <td class="col-sm-4">
                        {% if date(battle.date) > date() %}
                            {% if battle.createur == app.user and battle.canceled == false %}
                                <a href="{{ path('battle_edit', {'slug': battle.slug}) }}"
                                   class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="#{{ battle.slug }}_canceled" data-toggle="modal"
                                   class="btn btn-danger btn-xs">Anulée la bataile</a>
                            {% elseif is_granted('ROLE_ADMIN') and battle.canceled == true %}
                                <br/>
                                <a href="#{{ battle.slug }}_delete" data-toggle="modal"
                                   class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                            {% endif %}
                        {% else %}
                            {% if battle.createur == app.user and battle.canceled == false %}
                                <a href="{{ path('battle_edit', {'slug': battle.slug}) }}"
                                   class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
                                {% if battle.resume is null %}
                                    <a href="{{ path('resume_create', {'slug': battle.slug}) }}"
                                       class="btn-xs btn-default">Ecrire le resumé</a>
                                {% else %}
                                    <a href="{{ path('resume_edit', {'id': battle.resume.id}) }}"
                                       class="btn btn-xs btn-default">Modfier le resumé</a>
                                {% endif %}
                                <a href="#{{ battle.slug }}_canceled" data-toggle="modal"
                                   class="btn btn-danger btn-xs">Anulée la bataile</a>
                            {% elseif is_granted('ROLE_ADMIN') and battle.canceled == true %}
                                <a href="#{{ battlesPast.slug }}_delete" data-toggle="modal"
                                   class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a>
                            {% endif %}
                        {% endif %}

                    </td>
                {% endfor %}
            </table>
        </div>
    </div>

    {% for battle in battles %}
        {% if battle.createur == app.user and battle.canceled == false %}
            {% include 'AppBundle:Modal:battle.canceled.html.twig' with{'battle': battle } %}
        {% elseif is_granted('ROLE_ADMIN') and battle.canceled == true %}
            {% include 'AppBundle:Modal:battle.delete.html.twig' with {'battle': battle } %}
        {% endif %}
    {% endfor %}
{% endblock %}
