{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ battle.name }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2>{{ battle.name }} du {{ battle.date|date('d/m/Y à h-m') }}</h2>
        <p>
            Bataille proposée par {{ battle.createur.username }} qui aura lieu chez {{ battle.lieu }}
        </p>
        <div class="well">
            {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.presence) }}
                <div class="col-sm-8">
                    {{ form_widget(form.presence,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.presence) }}
                </div>
            </div>
            <div id="army" class="form-group">
                {{ form_label(form.army) }}
                <div class="col-sm-8">
                    {{ form_widget(form.army,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.army) }}
                </div>
            </div>
            <div class="text-center">{{ form_widget(form.save,{'attr':{'class':'btn btn-default btn-xs'}}) }}</div>
            {{ form_rest(form) }}
            {{  form_end(form) }}
        </div>
        <div id="participants">
            <ul class="list-unstyled">
                {% for participant in listParticipants %}
                    <li>{{ participant.participant.username }} {{ participant.presence.presence }}{% if participant.presence.id == 3 %} au commande de l'armée
                    <a href="{{ path('app_army', {'slugArmy': participant.army.slugArmy}) }}">{{ participant.army.name }}</a>{%  endif %}</li>
                    {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
<script src="{{ asset('/public/js/cacheArmy.js') }}"></script>
{% endblock %}