{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ battle.name }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2>{{ battle.name }} du {{ battle.date|date('d/m/Y à h:i') }}</h2>
        <p>
            Bataille proposée par {{ battle.createur.username }} qui aura lieu chez {{ battle.lieu }}
        </p>
        <div id="{{ visiteur.presence.id }}" class="well">
            {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.presence) }}
                <div class="col-sm-8">
                    {{ form_widget(form.presence,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.presence) }}
                </div>
            </div>
            <div id="army" class="form-group">
                {{ form_label(form.army) }}
                <div class="col-sm-8">
                    {{ form_widget(form.army,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.army) }}
                </div>
            </div>
            <div class="text-center">{{ form_widget(form.save,{'attr':{'class':'btn btn-default btn-xs'}}) }}</div>
            {{ form_rest(form) }}
            {{  form_end(form) }}
        </div>
        <div id="participant">

        </div>
        <div id="participants">


            <ul class="list-unstyled">
                <li id="participant">Vous {{ visiteur.presence.presence }} {% if visiteur.presence.id == 3 %} au commande de <a href="{{ path('army_view', {'slug': visiteur.army.slug}) }}">{{ visiteur.army.name }}</a>{%  endif %} <small><a id="cachePresence" href="#">Modifier votre réponse</a></small></li>
                {% for participant in participants %}
                    <li>{{ participant.participant.username }}
                        {% if participant.presence.id == 1  %} seras présent
                        {% elseif participant.presence.id == 2 %} ne seras pas présent
                        {% elseif participant.presence.id== 3  %} sera le général de l'armée {% if participant.presence.id == 3 %}<a href="{{ path('army_view', {'slug': participant.army.slug}) }}">{{ participant.army.name }}</a>{%  endif %}
                        {% elseif participant.presence.id == 4 %} n'a pas encore répondu
                        {% endif %}
                        </li>
                    {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
<script src="{{ asset('/public/js/cacheArmy.js') }}"></script>
    <script src="{{ asset('/public/js/cachePresence.js') }}"></script>
{% endblock %}