{% extends 'AppBundle::layout.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block title %}
  Créer votre armée
{% endblock %}

{% block body %}
  <div class="well">
    {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}

    {{ form_row(form.race) }}

    <div class="text-center">
      {{ form_widget(form.save,{'attr':{'class':'btn btn-default btn-sm'}}) }}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <div class="text-right">
      <a class="btn btn-default btn-xs" href="{{ path('army_list') }}"><i class="glyphicon glyphicon-chevron-left"></i> retour aux armées</a>
    </div>
  </div>
{% endblock %}
