{% extends 'AppBundle::layout.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block title %}
  Modification d'une armée
{% endblock %}

{% block body %}

  <div class="well">
    <h2 class="text-center">Modification de l'arméee {{ army.name}} de race {{ army.race.name}}</h2>

    {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
    {{ form_errors(form)}}

    {{ form_row(form.name) }}

    <div class="text-center">
      {{ form_widget(form.save,{'attr':{'class':'btn btn-default btn-sm'}}) }}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <div class="text-right">
      <a class="btn btn-default btn-xs" href="{{ path('army_view', {'slugArmy': army.slugArmy}) }}"><i class="glyphicon glyphicon-chevron-left"></i> Retour à l'armée</a>
    </div>
  </div>

{% endblock %}
