{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Liste des armées{% endblock %}

{% block content %}
	<h2 class="text-center">Liste des armées</h2>

		<div class="pull-right">
			<a href="{{ path('army_create') }}" class="btn btn-default btn-xs">Créer une armée</a>
		</div>
	<ul class="nav nav-tabs row">
		<li class="active col-sm-2">
			<a data-toggle="tab" href="#{{ app.user.username }}-armies" class="armies">
				Vos armées
			</a>
		</li>
	{% for user in users if user != app.user %}
		<li class="col-sm-2">
			<a data-toggle="tab" href="#{{ user.username }}-armies" class="armies">
				Armées de {{ user.username }}
			</a>
		</li>
	{% endfor %}
	</ul>
	{% for user in users  %}
		{% if loop.first %}
			<div class="tab-content" >
		{% endif %}
		<div id="{{ user.username }}-armies" class="tab-pane fade {{ app.user == user ? 'in active' }}">
			{% include '@App/Army/list.user.html.twig' with {'user': user} %}
		</div>
		{% if loop.last %}
			</div>
		{% endif %}
	{% endfor %}

    {% for army in app.user.armies %}
		{% include '@App/Army/modal.delete.html.twig' with{'army': army} %}
    {% endfor %}

{% endblock %}
