{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
{{ army.name }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.thumbnail img{
			max-height: 80px;
		}
	</style>
{% endblock %}

{% block body %}
	<div id="title" class="well text-center">
		<h2 class="text-center">
			{{ army.name }} commandé par {{ army.user.username }}
		</h2>
		<small>
			armée de {{ army.points }} points ,d'origine {{ army.race.name }}
		</small>
		{% if army.user == app.user %}
			<div class="text-right">
				<a href="{{ path('army_edit', {'slug': army.slug}) }}" class="btn btn-xs btn-primary">
					<span class="glyphicon glyphicon-edit"></span> Modifier
				</a>
				<a data-toggle="modal" href="#{{ army.slug }}_delete" class="btn btn-xs btn-danger">
					<span class="glyphicon glyphicon-remove"></span> Supprimer
				</a>
				<a href="{{ path('figurine_army_create', {'slug': army.slug}) }}" class="btn btn-xs btn-primary">
					Ajouter une figurine
				</a>

			</div>
		{% endif %}
	</div>
	<div id="figs" class="panel-group">
		<div id="QG" class="panel panel-default">
				<div class="well panel-heading">
					<a data-toggle="collapse" data-parent="#QG" data-cible="figsQG" href="#figsQG" class="menu-drop">
					<h4 class="panel-heading text-center">QG <span class=" chevron glyphicon glyphicon-chevron-down "></span></h4>
					</a>
				</div>
			<div id="figsQG" class="panel-collapse collapse">
				<div class="panel-body">
					{% for figQG in figsQG  %}
						<div class="well">
							<div class="row">
								<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
									<li><h5>{{ figQG.figurine.name  }}</h5></li>
									<li>{{ figQG.points }} points</li>
								</ul>
								{% for equipement in figQG.equipements  %}
									{% if loop.first %}
										<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
									{% endif %}
									<li>{{ equipement.name }} : {{ equipement.points }} points</li>
									{% if loop.last %}
										</ul>
									{% endif %}
								{% else %}
									<p class="col-sm-5 text-center">
										{{ figQG.figurine.name }} ne possède pas d'options.
									</p>
								{% endfor %}
								{% if army.user == app.user %}
									<ul class="list-unstyled col-sm-2 text-center">
										{% if figQG.figurine.equipements|length > 0 %}
											<li><a class="btn btn-primary btn-xs" href="{{ path('figurine_army_edit', {'id': figQG.id}) }}"><i class="glyphicon glyphicon-edit"></i> Modifier</a></li>
											<br>
										{%endif %}
										<li><a  class="btn btn-danger btn-xs" data-toggle="modal" href="#{{ figQG.id }}_delete"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
										<br/>
										<li><a href="{{ path('photo_figurine_add',{'id': figQG.id}) }}" class="btn btn-default btn-xs">Ajout Photo(s)</a></li>
									</ul>
								{% endif %}
							</div>
							<div class="row">
								{% for photo in figQG.photos %}
									<div class="col-sm-2 row">
										<a class="thumbnail col-sm-11" href="#" data-image-id="" data-toggle="modal" data-title="{{ figQG.figurine.name }}" data-image="{{ asset(photo.webPath) }}" data-target="#image-gallery">
											<img class="img-responsive" src="{{ asset(photo.webPath) }}" alt="{{ photo.alt }}">
										</a>
										{% if app.user == army.user %}
											<a class="col-sm-1" data-toggle="modal" href="#{{ photo.id }}_delete"><i class="glyphicon glyphicon-remove"></i></a>
										{% endif %}
									</div>
								{% else %}
									<p class="text-center">
										{{ figQG.figurine.name }} ne possède pas de photos.
									</p>
								{% endfor %}
							</div>
						</div>
					{% else %}
						<p class="well text-center">
							Le  QG ne contient pas de figurines.
						</p>
					{% endfor %}
				</div>
			</div>
		</div>
		<br>
		<div id="troupes" class="panel panel-default">
				<div class="well panel-heading">
					<a data-toggle="collapse" data-parent="#QG" data-cible="figsTroupe" href="#figsTroupe"  class="menu-drop">
					<h4 class="panel-heading text-center">Troupe <span class="chevron glyphicon glyphicon-chevron-down "></span></h4>
					</a>
				</div>
			<div id="figsTroupe" class="panel-collapse collapse">
				<div class="panel-body">
					{% for figTroupe in figsTroupe %}
						<div class="well">
							<div class="row">
								<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
									<li><h5>{{ figTroupe.figurine.name  }}</h5></li>
									<li>{{ figTroupe.points }} points</li>
								</ul>
								{% for equipement in figTroupe.equipements  %}
									{% if loop.first %}
										<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
									{% endif %}
									<li>{{ equipement.name }} : {{ equipement.points }} points</li>
									{% if loop.last %}
										</ul>
									{% endif %}
								{% else %}
									<p class="col-sm-5 text-center">
										{{ figTroupe.figurine.name }} ne possède pas d'options.
									</p>
								{% endfor %}
								{% if army.user == app.user %}
									<ul class="list-unstyled col-sm-2 text-center">
										{% if figTroupe.figurine.equipements|length > 0 %}
											<li><a class="btn btn-primary btn-xs" href="{{ path('figurine_army_edit', {'id': figTroupe.id}) }}"><i class="glyphicon glyphicon-edit"></i> Modifier</a></li>
											<br>
										{%endif %}
										<li><a  class="btn btn-danger btn-xs" data-toggle="modal" href="#{{ figTroupe.id }}_delete"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
										<br/>
										<li><a href="{{ path('photo_figurine_add',{'id': figTroupe.id}) }}" class="btn btn-default btn-xs">Ajout Photo(s)</a></li>
									</ul>
								{% endif %}
							</div>
							<div class="row">
								{% for photo in figTroupe.photos %}
									<div class="col-sm-2 row">
										<a class="thumbnail col-sm-11" href="#" data-image-id="" data-toggle="modal" data-title="{{ figTroupe.figurine.name }}" data-image="{{ asset(photo.webPath) }}" data-target="#image-gallery">
											<img class="img-responsive" src="{{ asset(photo.webPath) }}" alt="{{ photo.alt }}">
										</a>
										{% if app.user == army.user %}
											<a class="col-sm-1" data-toggle="modal" href="#{{ photo.id }}_delete"><i class="glyphicon glyphicon-remove"></i></a>
										{% endif %}
									</div>
								{% else %}
									<p class="text-center">
										{{ figTroupe.figurine.name }} n'a pas de photos.
									</p>
								{% endfor %}
							</div>

						</div>
					{% else %}
						<p class="well text-center">
							Cette armée ne possède pas de troupe.
						</p>
					{% endfor %}
				</div>

			</div>
		</div>
		<br>
		<div id="elite" class="panel panel-default">
				<div class="well panel-heading">
					<a data-toggle="collapse" data-parent="#QG" data-cible="figsElite" href="#figsElite"  class="menu-drop">
					<h4 class="panel-heading text-center">Elite <span class="chevron glyphicon glyphicon-chevron-down "></span></h4>
					</a>
				</div>
			<div id="figsElite" class="panel-collapse collapse">
				<div class="panel-body">
					{% for figElite in figsElite %}
						<div class="well">
							<div class="row">
								<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
									<li><h5>{{ figElite.figurine.name  }}</h5></li>
									<li>{{ figElite.points }} points</li>
								</ul>
								{% for equipement in figElite.equipements  %}
									{% if loop.first %}
										<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
									{% endif %}
									<li>{{ equipement.name }} : {{ equipement.points }} points</li>
									{% if loop.last %}
										</ul>
									{% endif %}
								{% else %}
									<p class="col-sm-5 text-center">
										{{ figElite.figurine.name }} ne possède pas d'options.
									</p>
								{% endfor %}
								{% if army.user == app.user %}
									<ul class="list-unstyled col-sm-2 text-center">
										{% if figElite.figurine.equipements|length > 0 %}
											<li><a class="btn btn-primary btn-xs" href="{{ path('figurine_army_edit', {'id': figElite.id}) }}"><i class="glyphicon glyphicon-edit"></i> Modifier</a></li>
											<br>
										{%endif %}
										<li><a  class="btn btn-danger btn-xs" data-toggle="modal" href="#{{ figElite.id }}_delete"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
										<br/>
										<li><a href="{{ path('photo_figurine_add',{'id': figElite.id}) }}" class="btn btn-default btn-xs">Ajout Photo(s)</a></li>
									</ul>
								{% endif %}
							</div>
							<div class="row">
								{% for photo in figElite.photos %}
									<div class="col-sm-2 row">
										<a class="thumbnail col-sm-11" href="#" data-image-id="" data-toggle="modal" data-title="{{ figElite.figurine.name }}" data-image="{{ asset(photo.webPath) }}" data-target="#image-gallery">
											<img class="img-responsive" src="{{ asset(photo.webPath) }}" alt="{{ photo.alt }}">
										</a>
										{% if app.user == army.user %}
											<a class="col-sm-1" data-toggle="modal" href="#{{ photo.id }}_delete"><i class="glyphicon glyphicon-remove"></i></a>
										{% endif %}
									</div>
								{% else %}
									<p class="text-center">
										{{ figElite.figurine.name }} n'a pas de photos.
									</p>
								{% endfor %}
							</div>

						</div>
					{% else %}
						<p class="well text-center">
							Cette armée ne possède pas d'élite.
						</p>
					{% endfor %}
				</div>

			</div>
		</div>
		<br>
		<div id="transport" class="panel panel-default">
				<div class="well panel-heading">
					<a data-toggle="collapse" data-parent="#QG" data-cible="figsTransport" href="#figsTransport"  class="menu-drop">
					<h4 class="panel-heading text-center">Transport <span class="chevron glyphicon glyphicon-chevron-down "></span></h4>
					</a>
				</div>
			<div id="figsTransport" class="panel-collapse collapse">
				<div class="panel-body">
					{% for figTransport in figsTransport %}
						<div class="well">
							<div class="row">
								<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
									<li><h5>{{ figTransport.figurine.name  }}</h5></li>
									<li>{{ figTransport.points }} points</li>
								</ul>
								{% for equipement in figTransport.equipements  %}
									{% if loop.first %}
										<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
									{% endif %}
									<li>{{ equipement.name }} : {{ equipement.points }} points</li>
									{% if loop.last %}
										</ul>
									{% endif %}
								{% else %}
									<p class="col-sm-5 text-center">
										{{ figTransport.figurine.name }} ne possède pas d'options.
									</p>
								{% endfor %}
								{% if army.user == app.user %}
									<ul class="list-unstyled col-sm-2 text-center">
										{% if figTransport.figurine.equipements|length > 0 %}
											<li><a class="btn btn-primary btn-xs" href="{{ path('figurine_army_edit', {'id': figTransport.id}) }}"><i class="glyphicon glyphicon-edit"></i> Modifier</a></li>
											<br>
										{%endif %}
										<li><a  class="btn btn-danger btn-xs" data-toggle="modal" href="#{{ figTransport.id }}_delete"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
										<br/>
										<li><a href="{{ path('photo_figurine_add',{'id': figTransport.id}) }}" class="btn btn-default btn-xs">Ajout Photo(s)</a></li>
									</ul>
								{% endif %}
							</div>
							<div class="row">
								{% for photo in figTransport.photos %}
									<div class="col-sm-2 row">
										<a class="thumbnail col-sm-11" href="#" data-image-id="" data-toggle="modal" data-title="{{ figTransport.figurine.name }}" data-image="{{ asset(photo.webPath) }}" data-target="#image-gallery">
											<img class="img-responsive" src="{{ asset(photo.webPath) }}" alt="{{ photo.alt }}">
										</a>
										{% if app.user == army.user %}
											<a class="col-sm-1" data-toggle="modal" href="#{{ photo.id }}_delete"><i class="glyphicon glyphicon-remove"></i></a>
										{% endif %}
									</div>
								{% else %}
									<p class="text-center">
										{{ figTransport.figurine.name }} n'a pas de photos.
									</p>
								{% endfor %}
							</div>

						</div>
					{% else %}
						<p class="well text-center">
							Cette armée ne possède pas de transport.
						</p>
					{% endfor %}
				</div>

			</div>
		</div>
		<br>
		<div id="attaque" class="panel panel-default">
				<div class="well panel-heading">
					<a data-toggle="collapse" data-parent="#QG" data-cible="figsAttaque" href="#figsAttaque"  class="menu-drop">
					<h4 class="panel-heading text-center">Attaque Rapide  <span class="chevron glyphicon glyphicon-chevron-down "></span></h4>
					</a>
				</div>
			<div id="figsAttaque" class="panel-collapse collapse">
				<div class="panel-body">
					{% for figAttaque in figsAttaque %}
						<div class="well">
							<div class="row">
								<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
									<li><h5>{{ figAttaque.figurine.name  }}</h5></li>
									<li>{{ figAttaque.points }} points</li>
								</ul>
								{% for equipement in figAttaque.equipements  %}
									{% if loop.first %}
										<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
									{% endif %}
									<li>{{ equipement.name }} : {{ equipement.points }} points</li>
									{% if loop.last %}
										</ul>
									{% endif %}
								{% else %}
									<p class="col-sm-5 text-center">
										{{ figAttaque.figurine.name }} ne possède pas d'options.
									</p>
								{% endfor %}
								{% if army.user == app.user %}
									<ul class="list-unstyled col-sm-2 text-center">
										{% if figAttaque.figurine.equipements|length > 0 %}
											<li><a class="btn btn-primary btn-xs" href="{{ path('figurine_army_edit', {'id': figAttaque.id}) }}"><i class="glyphicon glyphicon-edit"></i> Modifier</a></li>
											<br>
										{%endif %}
										<li><a  class="btn btn-danger btn-xs" data-toggle="modal" href="#{{ figAttaque.id }}_delete"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
										<br/>
										<li><a href="{{ path('photo_figurine_add',{'id': figAttaque.id}) }}" class="btn btn-default btn-xs">Ajout Photo(s)</a></li>
									</ul>
								{% endif %}
							</div>
							<div class="row">
								{% for photo in figAttaque.photos %}
									<div class="col-sm-3 row">
										<a class="thumbnail col-sm-11" href="#" data-image-id="" data-toggle="modal" data-title="{{ figAttaque.figurine.name }}" data-image="{{ asset(photo.webPath) }}" data-target="#image-gallery">
											<img class="img-responsive" src="{{ asset(photo.webPath) }}" alt="{{ photo.alt }}">
										</a>
										{% if app.user == army.user %}
											<a class="col-sm-1" data-toggle="modal" href="#{{ photo.id }}_delete"><i class="glyphicon glyphicon-remove"></i></a>
										{% endif %}
									</div>
								{% else %}
									<p class="text-center">
										{{ figAttaque.figurine.name }} n'a pas de photos.
									</p>
								{% endfor %}
							</div>

						</div>
					{% else %}
						<p class="well text-center">
							Cette armée ne possède pas d'attaque rapide.
						</p>
					{% endfor %}
				</div>

			</div>
		</div>
		<br>
		<div id="soutien" class="panel panel-default">
			<div class="well panel-heading">
				<a data-toggle="collapse" data-parent="#QG" data-cible="figsSoutien" href="#figsSoutien"  class="menu-drop">
					<h4 class="panel-heading text-center">Soutien  <span class="chevron glyphicon glyphicon-chevron-down "></span></h4>
				</a>
			</div>
				<div id="figsSoutien" class="panel-collapse collapse">
					<div class="panel-body">
						{% for figSoutien in figsSoutien %}
							<div class="well">
								<div class="row">
									<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
										<li><h5>{{ figSoutien.figurine.name  }}</h5></li>
										<li>{{ figSoutien.points }} points</li>
									</ul>
									{% for equipement in figSoutien.equipements  %}
										{% if loop.first %}
											<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
										{% endif %}
										<li>{{ equipement.name }} : {{ equipement.points }} points</li>
										{% if loop.last %}
											</ul>
										{% endif %}
									{% else %}
										<p class="col-sm-5 text-center">
											{{ figSoutien.figurine.name }} ne possède pas d'options.
										</p>
									{% endfor %}
									{% if army.user == app.user %}
										<ul class="list-unstyled col-sm-2 text-center">
											{% if figSoutien.figurine.equipements|length > 0 %}
												<li><a class="btn btn-primary btn-xs" href="{{ path('figurine_army_edit', {'id': figSoutien.id}) }}"><i class="glyphicon glyphicon-edit"></i> Modifier</a></li>
												<br>
											{%endif %}
											<li><a  class="btn btn-danger btn-xs" data-toggle="modal" href="#{{ figSoutien.id }}_delete"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
											<br/>
											<li><a href="{{ path('photo_figurine_add',{'id': figSoutien.id}) }}" class="btn btn-default btn-xs">Ajout Photo(s)</a></li>
										</ul>
									{% endif %}
								</div>
								<div class="row">
									{% for photo in figSoutien.photos %}
										<div class="col-sm-2 row">
											<a class="thumbnail col-sm-11" href="#" data-image-id="" data-toggle="modal" data-title="{{ figSoutien.figurine.name }}" data-image="{{ asset(photo.webPath) }}" data-target="#image-gallery">
												<img class="img-responsive" src="{{ asset(photo.webPath) }}" alt="{{ photo.alt }}">
											</a>
											{% if app.user == army.user %}
												<a class="col-sm-1" data-toggle="modal" href="#{{ photo.id }}_delete"><i class="glyphicon glyphicon-remove"></i></a>
											{% endif %}
										</div>
									{% else %}
										<p class="text-center">
											{{ figSoutien.figurine.name }} n'a pas de photos.
										</p>
									{% endfor %}
								</div>

							</div>
						{% else %}
							<p class="well text-center">
								Cette armée ne possède pas de soutien.
							</p>
						{% endfor %}
					</div>

			</div>
		</div>
		<br>
		<div id="seigneur" class="panel panel-default">
				<div class="well panel-heading">
					<a data-toggle="collapse" data-parent="#QG" data-cible="figsSeigneur" href="#figsSeigneur"  class="menu-drop">
					<h4 class="panel-heading text-center">Seigneur de Guerre <span class="chevron glyphicon glyphicon-chevron-down "></span></h4>
					</a>
				</div>

			<div id="figsSeigneur" class="panel-collapse collapse">
				<div class="panel-body">
					{% for figSeigneur in figsSeigneur %}
						<div class="well">
							<div class="row">
								<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
									<li><h5>{{ figSeigneur.figurine.name  }}</h5></li>
									<li>{{ figSeigneur.points }} points</li>
								</ul>
								{% for equipement in figSeigneur.equipements  %}
									{% if loop.first %}
										<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
									{% endif %}
									<li>{{ equipement.name }} : {{ equipement.points }} points</li>
									{% if loop.last %}
										</ul>
									{% endif %}
								{% else %}
									<p class="col-sm-5 text-center">
										{{ figSeigneur.figurine.name }} ne possède pas d'options.
									</p>
								{% endfor %}
								{% if army.user == app.user %}
									<ul class="list-unstyled col-sm-2 text-center">
										{% if figSeigneur.figurine.equipements|length > 0 %}
											<li><a class="btn btn-primary btn-xs" href="{{ path('figurine_army_edit', {'id': figSeigneur.id}) }}"><i class="glyphicon glyphicon-edit"></i> Modifier</a></li>
											<br>
										{%endif %}
										<li><a  class="btn btn-danger btn-xs" data-toggle="modal" href="#{{ figSeigneur.id }}_delete"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
										<br/>
										<li><a href="{{ path('photo_figurine_add',{'id': figSeigneur.id}) }}" class="btn btn-default btn-xs">Ajout Photo(s)</a></li>
									</ul>
								{% endif %}
							</div>
							<div class="row">
								{% for photo in figSeigneur.photos %}
									<div class="col-sm-2 row">
										<a class="thumbnail col-sm-11" href="#" data-image-id="" data-toggle="modal" data-title="{{ figSeigneur.figurine.name }}" data-image="{{ asset(photo.webPath) }}" data-target=".image-gallery">
											<img class="img-responsive" src="{{ asset(photo.webPath) }}" alt="{{ photo.alt }}">
										</a>
										{% if app.user == army.user %}
											<a class="col-sm-1" data-toggle="modal" href="#{{ photo.id }}_delete"><i class="glyphicon glyphicon-remove"></i></a>
										{% endif %}
									</div>
								{% else %}
									<p class="text-center">
										{{ figSeigneur.figurine.name }} n'a pas de photos.
									</p>
								{% endfor %}
							</div>

						</div>
					{% else %}
						<p class="well text-center">
							Cette armée ne possède pas de seigneur de guerre.
						</p>
					{% endfor %}
				</div>

			</div>
		</div>
	</div>
	{% include '@App/Modal/photos.army.html.twig' %}

    {% if app.user == army.user %}
        {% for figurine in army.figurines %}
			{% include 'AppBundle:Modal:figurine.delete.html.twig' with {'figurine': figurine} %}
            {% for photo in figurine.photos %}
				{% include 'AppBundle:Modal:photo.figurine.delete.html.twig' with {'photo': photo} %}
            {% endfor %}
        {% endfor %}
        {% include 'AppBundle:Modal:army.delete.modal.html.twig' with {'army': army} %}
    {% endif %}
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="application/javascript" src="{{ asset('/public/js/photo_modal.js') }}"></script>
	<script type="application/javascript" src="{{ asset('/public/js/chevron.js') }}"></script>
{% endblock %}
