{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
{{ army.name }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		img.avatar{
			width: 100%;
			max-height: 100;
			max-width: 100%;
		}
	</style>
{% endblock %}

{% block body %}
	<div id="title" class="well text-center">
		<h2 class="text-center">
			{{ army.name }} commandé par {{ army.user.username }}
		</h2>
		<small>
			armée de {{ army.points }} points ,d'origine {{ army.race.name }}
		</small>
		{% if army.user == app.user %}
			<div class="text-right">
				<a href="{{ path('army_edit', {'slug': army.slug}) }}" class="btn btn-xs btn-primary">
					<span class="glyphicon glyphicon-edit"></span> Modifier
				</a>
				<a data-toggle="modal" href="#{{ army.slug }}_delete" class="btn btn-xs btn-danger">
					<span class="glyphicon glyphicon-remove"></span> Supprimer
				</a>
				<a href="{{ path('unit_army_create', {'slug': army.slug}) }}" class="btn btn-xs btn-primary">
					Ajouter une unité
				</a>

			</div>
		{% endif %}
	</div>
	<div id="figs" class="panel-group">
        {% include '@App/Army/view.group.html.twig' with {'army': army } %}
	</div>

	{% include '@App/Army/modal.photos.unit.html.twig' %}

    {% if app.user == army.user %}
        {% for unit in army.units %}
			{% include '@App/UnitArmy/modal.delete.html.twig' with {'unit': unit} %}
        {% endfor %}
        {% include '@App/Army/modal.delete.html.twig' with {'army': army} %}
    {% endif %}
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="application/javascript" src="{{ asset('bundles/app/js/army.photos.js') }}"></script>
	<script type="application/javascript" src="{{ asset('bundles/app/js/army.chevron.js') }}"></script>
{% endblock %}
