{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
{{ army.name }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.thumbnail img{
			max-height: 80px;
		}
	</style>
{% endblock %}

{% block body %}
	<div id="title" class="well text-center">
		<h2 class="text-center">
			{{ army.name }} commandé par {{ army.user.username }}
		</h2>
		<small>
			armée de {{ army.points }} points ,d'origine {{ army.race.name }}
		</small>
		{% if army.user == app.user %}
			<div class="text-right">
				<a href="{{ path('army_edit', {'slug': army.slug}) }}" class="btn btn-xs btn-primary">
					<span class="glyphicon glyphicon-edit"></span> Modifier
				</a>
				<a data-toggle="modal" href="#{{ army.slug }}_delete" class="btn btn-xs btn-danger">
					<span class="glyphicon glyphicon-remove"></span> Supprimer
				</a>
				<a href="{{ path('figurine_army_create', {'slug': army.slug}) }}" class="btn btn-xs btn-primary">
					Ajouter une figurine
				</a>

			</div>
		{% endif %}
	</div>
	<div id="figs" class="panel-group">
        {% for groupe in army.groupes %}

			<div id="{{ groupe | replace({' ': '' }) }}" class="panel panel-default">
				<div class="well panel-heading">
					<a data-toggle="collapse" data-parent="#{{ groupe | replace({' ': '' }) }}" data-cible="figurines_{{ groupe | replace({' ': '' }) }}" href="#figurines_{{ groupe | replace({' ': '' }) }}" class="menu-drop">
						<h4 class="text-center">{{ groupe }} <span class="glyphicon glyphicon-chevron-down"></span></h4>
					</a>
				</div>
			</div>
			<div id="figurines_{{ groupe | replace({' ': '' }) }}" class="panel panel-collapse collapse" >
                {% for figurine in army.figurines if figurine.figurine.groupe.name == groupe %}
					<div class="well">
						<div class="row">
							<ul class="list-unstyled  {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
								<li><h5>{{ figurine.figurine.name }}</h5></li>
								<li>{{ figurine.points }}</li>
							</ul>
                            {% for equipement in figurine.equipements %}
                                {% if loop.first %}
									<ul class="list-unstyled {% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
                                {% endif %}
										<li>{{ equipement.name }} : {{ equipement.points }} points</li>
								{% if loop.last %}
									</ul>
								{% endif %}

								{% else %}
								<p class="{% if army.user == app.user%}col-sm-5{% else %}col-sm-6{% endif %} text-center">
									{{ figurine.figurine.name }} n'a pas d'equipements supplémentaire
								</p>
                            {% endfor %}
                            {% if app.user == army.user %}
								<ul class="list-unstyled col-sm-2">
                                    {% if figurine.figurine.equipements|length > 0 %}
										<li><a class="btn btn-primary btn-xs" href="{{ path('figurine_army_edit', {'id': figurine.id}) }}"><i class="glyphicon glyphicon-edit"></i> Modifier</a></li>
                                    {% endif %}
									<li><a  class="btn btn-danger btn-xs" data-toggle="modal" href="#{{ figurine.id }}_delete"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
									<li><a href="{{ path('photo_figurine_add',{'id': figurine.id}) }}" class="btn btn-default btn-xs">Ajout Photo(s)</a></li>
								</ul>
                            {% endif %}
						</div>
					</div>
					<div class="row">
                        {% for photo in figurine.photos %}
							<div class="col-sm-2 row">
								<a class="thumbnail col-sm-11" href="#" data-image-id="" data-toggle="modal" data-title="{{ figurine.figurine.name }}" data-image="{{ asset(photo.webPath) }}" data-target="#image-gallery">
									<img class="img-responsive" src="{{ asset(photo.webPath) }}" alt="{{ photo.alt }}">
								</a>
                                {% if app.user == army.user %}
									<a class="col-sm-1" data-toggle="modal" href="#{{ photo.id }}_delete"><i class="glyphicon glyphicon-remove"></i></a>
                                {% endif %}
							</div>
                        {% else %}
							<p class="text-center">
                                {{ figurine.figurine.name }} ne possède pas de photos.
							</p>
                        {% endfor %}
					</div>
                {% else %}
					<p class="well text-center">
						Cette armée ne possède pas de {{ groupe }}.
					</p>
                {% endfor %}
			</div>
        {% endfor %}
	</div>

	{% include '@App/Modal/photos.army.html.twig' %}

    {% if app.user == army.user %}
        {% for figurine in army.figurines %}
			{% include 'AppBundle:Modal:figurine.delete.html.twig' with {'figurine': figurine} %}
            {% for photo in figurine.photos %}
				{% include 'AppBundle:Modal:photo.figurine.delete.html.twig' with {'photo': photo} %}
            {% endfor %}
        {% endfor %}
        {% include 'AppBundle:Modal:army.delete.modal.html.twig' with {'army': army} %}
    {% endif %}
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="application/javascript" src="{{ asset('/public/js/photo_modal.js') }}"></script>
	<script type="application/javascript" src="{{ asset('/public/js/chevron.js') }}"></script>
{% endblock %}
