{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ race.name }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ race.name }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre d'equipements</th>
            </tr>
        </thead>
        <tbody>
        {% for unit in race.units %}
            <tr class="table-hover">
                <td><a href="{{ path('unit_view', {'id': unit.id}) }}">{{ unit.name }}</a></td>
                <td>{{ unit.equipements | length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}