<div>
    {% if photos|length > 0 %}
    <ul class="pagination">
        {% for p in range(1, nbPages) %}
            <li {% if p == page %}class="active" {% endif %} >
                <a class="page" href="{{ path('photo_user_page', {'page': p }) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>

    <ul>
        {% for photo in photos %}
            <li class="row">
                <img src="{{ asset(photo.webPath) }}" alt="{{ photo.alt }}" class="col-sm-2">
                <div class="col-sm-7">
                    http://warhantmillebattle.fr{{ asset(photo.webpath)}}
                </div>
                <div class="col-sm-1">
                        <a data-toggle="modal" class="btn btn-xs btn-danger" href="#{{ photo.id }}_delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        Vous n'avez pas encore charger de photos
    {% endif %}
</div>
    {% for photo in photos %}
        {% include 'AppBundle:Modal:photo.user.delete.html.twig' with{'id': photo.id} %}
    {% endfor %}