{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Profil de {{ user.username }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2 class="text-center">Page de votre profil</h2>

        <div class="well">
            <h3>Vos données</h3>
            <ul class="list-unstyled">
                <li>Prénom : {{ user.username }}</li>
                <li>Adresse mail : {{ user.email }}</li>
            </ul>
            <div class="text-right">
                <a href="{{ path("user_edit",{'id': user.id}) }}" class="btn btn-default btn-xs">Modifier mes données</a><br/><br/>
                <a href="{{ path("fos_user_change_password") }}" class="btn btn-default btn-xs">Modifier le mot de passe</a>
            </div>

        </div>
        <div class="well">
            <h3>Vos Armées</h3>
            <ul class="list-unstyled">
                {% for army in armies %}
                    <li><a href="{{ path('army_view',{'slug': army.slug}) }}">{{ army.name }}</a> de {{ army.points }} pts, race : {{  army.race.name }}</li>
                    {% endfor %}
            </ul>
        </div>
        <div class="well">
            <h3>Vos battles</h3>
            <ul class="list-unstyled">
                {% for battle in battles %}
                    <li>bataille <a href="{{ path('battle_view',{'slug': battle.slug}) }}">{{ battle.name }}</a> {% if battle.date|date('d/m/Y') < "now"|date("dm/Y") %} où vous avez guidé{% else %} ou vous guiderez{% endif %} l'armée {% for participant in battle.participants if participant.participant == user %}{{ participant.army.name }}{% endfor %}</li>
                {% endfor %}
            </ul>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="well">
                acceder à l'administration : <a href="{{ path('easyadmin')}}">Administration</a>
            </div>
        {% endif %}
    </div>

{% endblock %}