{% extends 'AppBundle::layout.html.twig' %}

{% form_theme form 'form/fieldsFigurine.html.twig' %}

{% block title %}Ajout d'une figurine {% endblock %}

{% block body %}
	<div class="well">
		<h2 class="text-center">Rajout d'une figurine pour l'armée {{ armyName }}</h2>
		{{ form_start(form,{'attr':{'class': 'form-horizontal'}}) }}
		{{ form_errors(form) }}

		<div class="form-group">
			{{ form_label(form.figurine,'Figurine à ajouter :',{'label_attr':{'class': 'col-sm-2 control-label'}})}}
			<div class="col-sm-10">
				{{ form_widget(form.figurine,{'attr':{'class':'form-control', 'value': 'Choix de la figurine'}}) }}
			</div>
			{{ form_errors(form.figurine) }}
		</div>
		{{ form_row(form.equipements)}}

		<ul class="photos" data-prototype="{{ form_widget(form.photos.vars.prototype)|e }}">
            {% for photo in form.photos %}
                <li>{{  form_row(photo) }}</li>
            {% endfor %}
        </ul>


		<div class="text-center">
			{{ form_row(form.save,{'attr':{'class': 'btn btn-default btn-sm'}}) }}
		</div>

		{{ form_rest(form)}}
		{{ form_end(form)}}

		<div class="text-right">
			<a class="btn btn-default btn-xs" href="{{ path('army_view',{'slug': slug})}}"><i class="glyphicon glyphicon-chevron-left"></i>Retour à l'armée</a>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/public/js/cacheOptionFigurine.js') }}"></script>
	<script type="text/javascript" src="{{ asset('/public/js/ajoutPhotoFigurine.js') }}"></script>
{% endblock %}
